---
import DeleteNotaBoton from "@components/notas/DeleteNotaBoton";
import RegresarBoton from "@components/shared/RegresarBoton.astro";
import Layout from "@layouts/Layout.astro";
import { actions } from "astro:actions";

export const prerender = false;

const notaId = Astro.params.id;

const { data } = await Astro.callAction(actions.getNotaById, notaId ?? "");
// console.log(data);
// console.log(notaId);
---

<Layout>
    <div class="flex flex-col justify-start">
        <RegresarBoton url="/notas/pagina/1" />
    </div>
    <div class="flex flex-auto items-center">
        <DeleteNotaBoton noteId={notaId} client:load />
        <a
            href=`/notas/editar/${notaId}`
            type="button"
            class="btn-update bg-linear-to-r from-yellow-400 via-orange-500 to-yellow-600 hover:bg-linear-to-br focus:ring-4 focus:outline-none focus:ring-yellow-300 dark:focus:ring-yellow-800 font-medium rounded-lg px-5 py-2.5 me-2 mb-2"
            ><span class="text-1xl text-black">📝 Editar</span></a
        >
    </div>

    <div
        class="flex flex-col items-center justify-start min-h-[80vh] pt-24 p-6 lg:p-12"
    >
        <div
            class="w-full max-w-2xl
            p-8 md:p-10 lg:p-12
            bg-[#241B1B]
            border border-[#95E329]
            rounded-xl shadow-2xl
            shadow-lime-500/20
            transition-all duration-300"
        >
            <h2
                class="mb-4 text-4xl lg:text-5xl // Título mucho más grande
                font-extrabold tracking-tight // Negrita extra
                text-[#95E329]"
            >
                {data.titulo}
            </h2>

            <div class="h-px bg-gray-700 w-full mb-6"></div>

            <p
                class="font-light text-xl md:text-2xl
            text-gray-300
            whitespace-pre-wrap"
            >
                {data.contenido}
            </p>
        </div>
    </div>
</Layout>
