# Archivos y Carpetas Generales
**/.git
**/.gitignore
**/.vscode
**/temp
**/tmp

# Archivos de Entorno y Seguridad
**/.env
**/*.log
**/*.pem

# Carpetas de Node.js (Especialmente para Astro/Frontend)
**/node_modules
**/npm-debug.log