---
import NotasPaginadas from "@components/notas/NotasPaginadas";
import Titulo from "@components/shared/Titulo.astro";
import Layout from "@layouts/Layout.astro";
import { actions } from "astro:actions";
export const prerender = false;

const page = Number(Astro.params.page) || 1;
const limit = 10;

const { data, error } = await Astro.callAction(actions.getNotas, {
    page,
    limit,
});

let notas = [];
let totalPages = 1;

if (!error && data) {
    notas = data.data;
    totalPages = data.pages;
}
// console.log(notas);
---

<Layout>
    <Titulo titulo="Notas" />
    <a
        href="/notas/crearNota"
        type="button"
        class="text-black btn-update bg-linear-to-r from-green-400 via-green-500 to-green-600 hover:bg-linear-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg px-5 py-2.5 me-2 mb-2"
        ><span class="text-1xl">🌱 Nuevo</span></a
    >
    {
        notas.length === 0 ? (
            <h1>No hay informacion</h1>
        ) : (
            <NotasPaginadas
                notas={notas}
                page={page}
                totalPages={totalPages}
                limit={limit}
                client:load
            />
        )
    }
</Layout>
