---
interface Props {
    url: string;
}

const { url } = Astro.props;
---

<a
    class="px-6 py-2
            text-sm font-semibold
            rounded-md
            transition-colors duration-200
            bg-[#27DDF5] text-[#1A1A1A] // Fondo verde neón, texto oscuro
            hover:bg-lime-400
            focus:outline-none focus:ring-4 focus:ring-lime-500/50
            self-start mb-6"
    href=`${url}`
    ><span class="text-1xl">🔙 Regresar</span>
</a>

<style>
    .icono-fa {
        width: 26px; /* O 2rem, o el tamaño que prefieras */
        height: 26px;
    }
</style>
