---
interface Props {
    titulo: string;
}
const { titulo } = Astro.props;
---

<h1
    class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl"
>
    <span>
        {titulo}
    </span>
</h1>

<style>
    span {
        text-shadow:
            -2px -2px 0 #5955d3,
            2px -2px 0 #9cd355,
            -2px 2px 0 #5955d3,
            2px 2px 0 #5955d3;
    }
</style>
